.Quiz {
  padding: 12px;
}

.QuizQuestionTitle {
  color: var(--dark-blue);
}

.QuizTopicTitle {
  color: var(--dark-blue);
}

.QuizTopic {
  color: var(--dark-green);
}

.RelatedResourcesTitle {
  color: var(--dark-green);
}