.CreateAccount {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  row-gap: 30px;
}

.CreateAccountTitle {
  color: var(--dark-green);
}

.CreateAccountInputFields {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  color: var(--dark-green);
}