@font-face {
  font-family: Helvetica Rounded;
  src: url("./assets/helvetica_rounded.otf") format("opentype");
}

:root {
  --light-green: #606c38;
  --dark-green: #283618;
  --dark-brown: #bc6c25;
  --beige: #fcf5e5;
  --dark-blue: #3652b2;
  --blue: #677b98;
  --red: #bc1212;
  --grey: #e0e0e0;
}

.App {
  background-color: var(--beige);
  height: 100vh;
  width: 100vw;
  font-family: "Helvetica Rounded";
}

h1, h2, h3, p {
  margin: 0;
}

h1 {
  font-size: 36pt;
}

h2 {
  font-size: 24pt;
}

h3 {
  font-size: 16pt;
}

input {
  font-family: "Helvetica Rounded";
}

input[type="text"]:focus {
  outline-color: var(--light-green);
}

.greyBackground {
  background-color: var(--grey);
  padding: 12px;
  border-radius: 8px;
}