:root {
  --light-green: #606c38;
  --dark-green: #283618;
  --dark-brown: #bc6c25;
  --beige: #fcf5e5;
  --dark-blue: #3652b2;
  --blue: #677b98;
  --red: #bc1212;
}

.App {
  background-color: var(--beige);
  height: 100vh;
  width: 100vw;
}